<div class="full-post">
    <div class="content">
        <div class="img">
            <img src="assets/images/admin-Sign.jpg" alt="">
        </div>
        <div class="imageson">
            <img src={{this.post.image}} alt="">
        </div>
        <div class="title">{{this.post.title}}</div>
        <div class="text">{{this.post.text}}</div>
        <div class="profile-info">
            <div class="item">Автор: {{this.post.info}}</div>
            <div class="item">Опубликовано: {{this.post.date}}</div>
        </div>
    </div>
</div>
