<div class="home-page">
    <div class="home-page-image">
        <img src="{{imgSrc}}" alt="">
        <div class="image-text"></div>
    </div>

    <div class="home-content">
        <div class="home-content-item-z">
            <div class="info-product-text"><div id="led">Светодио́дная ле́нта — источник света, собранный на основе светодиодов. Представляет собой гибкую печатную (монтажную) плату, на которой равноудалённо друг от друга расположены светодиоды. Обычно ширина ленты составляет 8-20 мм, толщина (со светодиодами) 2—3 мм. При изготовлении лента сматывается в рулоны длиной 1 до 30 м. Для ограничения тока через светодиоды, в электрическую схему ленты вводятся балластные сопротивления (резисторы), которые также монтируются на ленте.</div>
                <div class="verBut" (click)="contacts()">
                    Заказать
                </div>
                <a name="led"></a>
            </div>
            <div class="image-product-r">
                <img src="assets/images/123.webp" alt="">
            </div>
        </div>
        
        <div class="home-content-item-z home-content-item-b">
            <div class="image-product-r">
                <img src="assets/images/1234.jpg" alt="">
            </div>
            <div class="info-product-text"><div>Дюралайт (Duralight) — прозрачный (цветной) шнур с расположенными внутри лампами накаливания или светодиодами. Изготовлен из гибких полимеров, выполняет функции световой гирлянды. Инновационная разработка компании Neo-Neon Holdings Ltd </div>
                <div class="verBut" (click)="contacts()">
                    Заказать
                </div>
                <a name="dur"></a>
            </div>
        </div>
    
        <div class="home-content-item-z home-content-item-b home-content-item-end" >
            <div class="info-product-text"><div id="neon">Что такое гибкий неон? Это полимерный жгут, равномерно светящийся по всей длине. Из чего он состоит? В чем принцип работы? Чтобы работа со шнуром шла уверенно – предлагаем рассмотреть по подробнее конструкцию этого элемента. По строению он отдаленно напоминает антенный провод от телевизора. В середине тонкая сердцевина, по краям небольшая оплетка, всё это обработано люминофорным порошком с цветным пигментом и залито сверху слоем защитного полимера. Оплетка и сердцевина подключаются к инвертору. В результате их взаимодействия порошок начинает светиться.</div>
                <div class="verBut" (click)="contacts()">
                    Заказать
                </div>
                <a name="neon"></a>
            </div>
            <div class="image-product-z">
                <img src="assets/images/12345.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="about-content-title">Наши клиенты:</div>
    <div class="about-content-second">
        <div class="about-client">
            <img src="assets/images/client-1.jpg" alt="">
        </div>
        <div class="about-client">
            <img src="assets/images/client-2.jpg" alt="">
        </div>
        <div class="about-client">
            <img src="assets/images/client-3.jpg" alt="">
        </div>
        <div class="about-client">
            <img src="assets/images/client-4.png" alt="">
        </div>
        <div class="about-client">
            <img src="assets/images/client-5.png" alt="">
        </div>
        <div class="about-client">
            <img src="assets/images/client-6.jpg" alt="">
        </div>
        <div class="about-client">
            <img src="assets/images/client-7.jpg" alt="">
        </div>
        <div class="about-client">
            <img src="assets/images/client-8.jpg" alt="">
        </div>
    </div>

</div>