.blog{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 50px 5vw;
}
.post-item{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 0rem 0rem 2rem 0.35rem rgba(201,194,194,1);
    margin: 1rem 2rem;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
}
.post-item img{
    width: 100%;
}
.post-item:hover {
    background-color: rgb(236, 236, 236);
    box-shadow: 0rem 0rem 2rem 0.35rem rgb(196, 188, 188);
}
.verBut{
    padding: 0.5rem 0.75rem;
    /* background: #8EE196; */
    background: #74ebd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    border: 0;
    outline: none;
    text-align: center;
    width: 100px;
    margin: 2rem;
}
.post-title{
    font-size: 1.5rem;
    margin:1rem;
}
.post-ShortText{
    font-size: 0.8rem;
    margin: 1rem;
    color: rgb(99, 99, 99);
}
.profile-info{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    color: rgb(175, 175, 175);
    font-size: 0.7rem;
    width: 90%;
}
