<div class="about">
    <div class="about-content-title">О нас</div>
    <div class="about-content-first">
        <div class="about-content-left">
            <div class="about-content-text">ООО «СветомирБай» основался на рынке продаж в 2000-ых годах, но как общество начал работать с 20 февраля 2015. За это время мы сумели зарекомендовать себя в качестве надежного и проверенного партнера. Компания занимается продажей электротехники, монтажом, предоставляет широкий спектр услуг рекламы, оформление зданий и прилегающей территории. Таким образом мы являемся одной из ведущих компаний на рынке продаж светотехники.</div>
        </div>
        <div class="about-image">
            <img src="assets/images/AboutUs.png" alt="">
        </div>
    </div>
    <div class="about-content-title">Наши клиенты:</div>
    <div class="about-content-second">
        <div class="about-client">
            <img src="assets/images/client-1.jpg" alt="">
        </div>
        <div class="about-client">
            <img src="assets/images/client-2.jpg" alt="">
        </div>
        <div class="about-client">
            <img src="assets/images/client-3.jpg" alt="">
        </div>
        <div class="about-client">
            <img src="assets/images/client-4.png" alt="">
        </div>
        <div class="about-client">
            <img src="assets/images/client-5.png" alt="">
        </div>
        <div class="about-client">
            <img src="assets/images/client-6.jpg" alt="">
        </div>
        <div class="about-client">
            <img src="assets/images/client-7.jpg" alt="">
        </div>
        <div class="about-client">
            <img src="assets/images/client-8.jpg" alt="">
        </div>
    </div>
</div>